body {
    background-image: url("resume3.jpg");
    background-repeat: no-repeat;
    height: 250px;
    background-position: center;

}


img.align-center{
    display: block;
    margin:0px auto;
}
img.medium{
    width: 200px;
    height: 200px;
}

h1{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 230%;
    color: Black;
}


p{
    text-align: center;
    font-family: 'Arial';
    font-size: 120%;
    font-weight: Bold;
    color: Black;
    
}

